
main {
    min-height: 145vh;
}


.baggrund_2 {
    background-image: url(/billeder/folder0.svg); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    width: 100%; 
    height: 130vh; 
    position: relative;
    
    
}

@media (max-width:900px) {
    .baggrund_2 {
    background-image: url(/billeder/folder_021.svg);
    position: relative;
    width: 100%;
    height: 130vh;
    top:20%;
    left: 0%;
    }
}

.baggrund_2 p {
    font-family: "Montserrat", serif;
    
    font-weight: normal;
    font-style: normal;
    font-size: 14px;

}
@media (max-width:900px) {
    .baggrund_2 p{
    font-size: 9px;
    }
}
.tekst_container_9 {
    position: absolute; 
    top: 12%; 
    left: 10%; 
    width: 470px; 
    padding: 20px; 
    background-color: transparent; 
    border-radius: 10px; 

   
}
@media (max-width:900px) {
    .tekst_container_9 {
    width: 70%;
    position: absolute;
    top:0%;
    left:15%;
    font-size: 9px;
    }
}
.tekst_container_10 {
    position: absolute; 
    bottom: 12%; 
    left: 12%; 
    width: 220px; 
    padding: 20px; 
    background-color: transparent; 
    border-radius: 10px; 


}
@media (max-width:900px) {
    .tekst_container_10 {
    width: 70%;
    position: absolute;
    top: 30%;
    left:15%;
    }
    
}
.tekst_container_11 {
    position: absolute; 
    top: 10%; 
    right: 15%; 
    width: 500px; 
    padding: 20px; 
    background-color: transparent; 
    border-radius: 10px; 

   
}
@media (max-width:900px) {
    .tekst_container_11 {
    width: 70%;
    position: absolute;
    top:50%;
    left:15%;
    font-size: 9px;
    }
}
.tekst_container_12 {
    position: absolute; 
    bottom: 25%; 
    right: 35%; 
    width: 260px; 
    padding: 20px; 
    background-color: transparent; 
    border-radius: 10px; 
   
}

@media (max-width:900px) {
    .tekst_container_12 {
    width: 35%;
    position: absolute;
    bottom:17%;
    left:50%;
    font-size: 9px;
    }
}
.svampespil {
    width: 17%;
    position: absolute;
    left: 12%;
    top: 48%;

    
}

@media (max-width:900px) {
    .svampespil {
    width: 25%;
    position: absolute;
    top:25%;
    left:25%;
    }
}

.bolde {
    width: 14%;
    position: absolute;
    left: 30%;
    top: 47%;

   
}
@media (max-width:900px) {
    .bolde {
    width: 25%;
    position: absolute;
    top:25%;
    left:55%;
    }
}
.skitse {
    width: 13%;
    position: absolute;
    left: 30%;
    bottom: 10%;

   
}
@media (max-width:900px) {
    .skitse {
    width: 18%;
    position: absolute;
    bottom:20%;
    left:20%;
    }
}
.spilelementer {
    width: 20%;
    position: absolute;
    right: 15%;
    bottom: 12%;

   
}
@media (max-width:900px) {
    .spilelementer {
    display: none;
    }
}
.aktivitet {
    width: 12%;
    position: absolute;
    right: 40%;
    top: 28%;


}
@media (max-width:900px) {
    .aktivitet {
    width: 20%;
    position: absolute;
    top:42%;
    left:55%;
    }
}
.statemachine {
    width: 22%;
    position: absolute;
    right: 15%;
    top: 28%;


   
}
@media (max-width:900px) {
    .statemachine {
    width: 30%;
    position: absolute;
    top:42%;
    left:20%;
    }
}
.lillemand {
    width: 10%;
    position: absolute;
    right: 37%;
    bottom: 12%;

   
}
@media (max-width:900px) {
    .lillemand {
    width: 15%;
    position: absolute;
    bottom:28%;
    left:38%;
    }
}

.spil {
    width: 20%;
    position: absolute;
    right: 15%;
    bottom: 30%;

   
}

@media (max-width:900px) {
    .spil {
    width: 20%;
    position: absolute;
    bottom:20%;
    left:32%;
    }
}

br {
    margin-bottom: 5px;
}

.projekt_container {
    padding: 10px;
    border: 1px;
    background-color: rgb(212,223,210);
    text-decoration: none;
    text-align: center; 
    margin: 50px 500px;
    
   
}
@media (max-width:900px) {
    .projekt_container {
    margin: 10px 150px;
    }
}
.projekt_container a {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    color:rgb(106, 76, 76);

    
}

@media (max-width:900px) {
    .projekt_container a{
    font-size: 12px;
    }
}
