.baggrund_2 {
    background-image: url(/billeder/folder0.svg); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    width: 100%; 
    height: 100vh; 
    position: relative;
    font-size: small;
}

.baggrund_2 p {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-size: 12px;
}

.tekst_container_13 {
    position: absolute; 
    top: 2%; 
    left: 14%; 
    width: 420px;
    padding: 20px; 
    background-color: transparent; 
    border-radius: 10px; 
}

.tekst_container_14 {
    position: absolute; /* Gør det muligt at placere boksen præcist */
    bottom: 20%; /* Justér afstand fra toppen */
    left: 15%; /* Justér afstand fra venstre */
    width: 350px; /* Bredde på tekstboksen */
    padding: 20px; /* Indre afstand for teksten */
    background-color: transparent; /* Semi-transparent baggrund */
    border-radius: 10px; /* Afrundede hjørner */
}

.tekst_container_15 {
    position: absolute; /* Gør det muligt at placere boksen præcist */
    top: 2%; /* Justér afstand fra toppen */
    right: 20%; /* Justér afstand fra venstre */
    width: 420px; /* Bredde på tekstboksen */
    padding: 20px; /* Indre afstand for teksten */
    background-color: transparent; /* Semi-transparent baggrund */
    border-radius: 10px; /* Afrundede hjørner */
}

.tekst_container_16 {
    position: absolute; /* Gør det muligt at placere boksen præcist */
    bottom: 5%; /* Justér afstand fra toppen */
    right: 33%; /* Justér afstand fra venstre */
    width: 300px; /* Bredde på tekstboksen */
    padding: 20px; /* Indre afstand for teksten */
    background-color: transparent; /* Semi-transparent baggrund */
    border-radius: 10px; /* Afrundede hjørner */
}

.video {
    width: 200px;
    position: absolute;
    left: 15%;
    top: 27%; 
}

.lottie {
    width: 100px;
    position: absolute;
    left: 30%;
    top: 20%;
}

.passionsite {
    width: 200px;
    position: absolute;
    left: 30%;
    bottom: 5%;
}

.moodboard2 {
    width: 300px;
    position: absolute;
    right: 33%;
    top: 30%;
}
.styletile2 {
    width: 250px;
    position: absolute;
    right: 20%;
    top: 30%;
}

.ccc {
    width: 300px;
    position: absolute;
    right: 13%;
    bottom: 15%;
}
