
main {
    min-height: 120vh;
    margin: 0;
    padding: 0;

}

@media (max-width:900px) {
    main {
    height: 100vh;
    margin: 0;
    padding: 0;
    }
}
.mapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
 
}

.web-link {
    width: 80%;
    height: 100vh;
    position: absolute;
    left: 10%;
    top: 25%;

}

.web-link img {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.web-link:hover img {
    transform: translateY(-10px); 
}


.web-link:active img {
    transform: translateY(-5px); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.ui-link {
    width: 80%;
    height:100%;
    position: absolute;
    left: 10%;
    top: 35%;

}

.ui-link img {
    transition: transform 0.3s ease, box-shadow 0.3s ease;

}


.ui-link:hover img {
    transform: translateY(-10px); 
   
}


.ui-link:active img {
    transform: translateY(-5px); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.animation-link {
    width: 80%;
    position: absolute;
    left: 10%;
    top: 45%;
}

.animation-link img {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.animation-link:hover img {
    transform: translateY(-10px); 
   
}


.animation-link:active img {
    transform: translateY(-5px); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.indhold-link {
    width: 80%;
    position: absolute;
    left: 10%;
    top: 55%;
}

.indhold-link img {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.indhold-link:hover img {
    transform: translateY(-10px); 
   
}


.indhold-link:active img {
    transform: translateY(-5px); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
