* {
    margin: 0;
    padding: 0;
    border-radius: 0;
}

main {
    min-height: 145vh;
}

.mapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 60px auto;
}

.web-link {
    width: 80%;
    height: 100vh;
    position: absolute;
    left: 10%;
    top: 10%;
}

.web-link img {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Hover-effekt: Ryk op */
.web-link:hover img {
    transform: translateY(-10px); /* Rykker billedet 10px opad */
   
}

/* Klik-effekt (valgfri) */
.web-link:active img {
    transform: translateY(-5px); /* Rykker det mindre ned igen ved klik */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.ui-link {
    width: 80%;
    height:100%;
    position: absolute;
    left: 10%;
    top: 25%;
}

.ui-link img {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Hover-effekt: Ryk op */
.ui-link:hover img {
    transform: translateY(-10px); /* Rykker billedet 10px opad */
   
}

/* Klik-effekt (valgfri) */
.ui-link:active img {
    transform: translateY(-5px); /* Rykker det mindre ned igen ved klik */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.animation-link {
    width: 80%;
    position: absolute;
    left: 10%;
    top: 40%;
}

.animation-link img {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Hover-effekt: Ryk op */
.animation-link:hover img {
    transform: translateY(-10px); /* Rykker billedet 10px opad */
   
}

/* Klik-effekt*/
.animation-link:active img {
    transform: translateY(-5px); /* Rykker det mindre ned igen ved klik */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.indhold-link {
    width: 80%;
    position: absolute;
    left: 10%;
    top: 55%;
}

.indhold-link img {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Hover-effekt: Ryk op */
.indhold-link:hover img {
    transform: translateY(-10px); /* Rykker billedet 10px opad */
   
}

/* Klik-effekt (valgfri) */
.indhold-link:active img {
    transform: translateY(-5px); /* Rykker det mindre ned igen ved klik */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
