.baggrund_2 p {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    color: rgb(106, 76, 76);
    gap: 5px;

}




.baggrund_2 li {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    color: rgb(106, 76, 76);
}





.tekst_container_1 {
    position: absolute; /* Gør det muligt at placere boksen præcist */
    top: 7%; /* Justér afstand fra toppen */
    left: 13%; /* Justér afstand fra venstre */
    width: 420px; /* Bredde på tekstboksen */
    padding: 20px; /* Indre afstand for teksten */
    background-color: transparent; /* Semi-transparent baggrund */
    border-radius: 10px; /* Afrundede hjørner */

    @media (max-width:900px) {
        width: 80%;
        position: absolute;
        bottom: 50px;
        left:10%;
        font-size: 9px;
    }
    
}
.forklaring1 {
    width: 12%;
    height: auto;
    position: absolute;
    left: 15%;
    bottom: 43%;

    @media (max-width:900px) {
        width: 20%;
        position: absolute;
        top:25%;
        left:30%;
        
    }
}
.forklaring2 {
    width: 15%;
    height: auto;
    position: absolute;
    left: 28%;
    bottom: 45%;

    @media (max-width:900px) {
        width: 20%;
        position: absolute;
        top:25%;
        left:55%;
        
    }
}

.tekst_container_2 {
    position: absolute; /* Gør det muligt at placere boksen præcist */
    bottom: 2%; /* Justér afstand fra toppen */
    left: 15%; /* Justér afstand fra venstre */
    width: 350px; /* Bredde på tekstboksen */
    padding: 20px; /* Indre afstand for teksten */
    background-color: transparent; /* Semi-transparent baggrund */
    border-radius: 10px; /* Afrundede hjørner */
    line-height: normal;

    @media (max-width:900px) {
        width: 80%;
        position: absolute;
        top: 32%;
        left:10%;
        font-size: 9px;
    }
}

.tekst_container_3 {
    position: absolute; /* Gør det muligt at placere boksen præcist */
    top: 5%; /* Justér afstand fra toppen */
    right: 20%; /* Justér afstand fra venstre */
    width: 420px; /* Bredde på tekstboksen */
    padding: 20px; /* Indre afstand for teksten */
    background-color: transparent; /* Semi-transparent baggrund */
    border-radius: 10px; /* Afrundede hjørner */

    @media (max-width:900px) {
        width: 80%;
        position: absolute;
        top:62%;
        left:10%;
        font-size: 9px;
    }
}
.forklaring3 {
    width: 18%;
    height: auto;
    position: absolute;
    right: 16%;
    top: 30%;

    @media (max-width:900px) {
        width: 40%;
        position: absolute;
        top:56%;
        left:55%;
        
    }
}
.forklaring4 {
    width: 20%;
    height: auto;
    position: absolute;
    right: 13%;
    bottom: 30%;

    @media (max-width:900px) {
        width: 18%;
        position: absolute;
        top:43%;
        left:55%;
        
    }
}
.forklaring6 {
    width: 20%;
    height: auto;
    position: absolute;
    right: 35%;
    top: 30%;

    @media (max-width:900px) {
        width: 30%;
        position: absolute;
        top:55%;
        left:20%;
        
    }
}
.tekst_container_4 {
    position: absolute; /* Gør det muligt at placere boksen præcist */
    bottom: 10%; /* Justér afstand fra toppen */
    right: 32%; /* Justér afstand fra venstre */
    width: 280px; /* Bredde på tekstboksen */
    padding: 20px; /* Indre afstand for teksten */
    background-color: transparent; /* Semi-transparent baggrund */
    border-radius: 10px; /* Afrundede hjørner */

    @media (max-width:900px) {
        width: 60%;
        position: absolute;
        bottom:5%;
        left:10%;
        font-size: 9px;
    }
}
.forklaring7 {
    width: 20%;
    height: auto;
    position: absolute;
    right: 13%;
    bottom: 10%;

    @media (max-width:900px) {
        width: 25%;
        position: absolute;
        bottom:10%;
        right:2%;
        font-size: 9px;
    }
}

.projekt_container {
    padding: 20px 40px;
    border: 1px;
    background-color: rgb(212,223,210);
    text-decoration: none;
    text-align: center; 
    margin: 50px 500px;
    gap: 5px;
    
    @media (max-width:900px) {
        padding: 5px;
        margin: 10px 150px;
    }
}

.projekt_container a {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    color:rgb(106, 76, 76);

    @media (max-width:900px) {
        font-size: 12px;
    }
}

.mappe {
   
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; /* Afstand mellem sider */
}

.baggrund_2 {
    background-image: url(/billeder/folder0.svg); /* Korrekt sti til billedet */
    background-size: cover; /* Sørger for, at billedet tilpasses uden at blive beskåret */
    background-position: center; /* Centrerer billedet både vandret og lodret */
    background-repeat: no-repeat; /* Forhindrer gentagelse af billedet */
    width: 100%; /* Justér bredden */
    height: 100vh; /* Gør containeren høj nok til at fylde hele skærmen */
    position: relative;
    font-size: small;
    padding-top: 30px;
    padding-bottom: 30px;

    @media (max-width:900px) {
        background-image: url(/billeder/folder_02.png);
        position: center;
        width: 100%;
        height: 100vh;
        top:15%;
        left: 0%;
        
    }
}