main {
    min-height: 145vh;
}

.baggrund_2 p {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    color: rgb(106, 76, 76);
    gap: 5px;

}




.baggrund_2 li {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    color: rgb(106, 76, 76);
}





.tekst_container_1 {
    position: absolute; /* Gør det muligt at placere boksen præcist */
    top: 12%; /* Justér afstand fra toppen */
    left: 10%; /* Justér afstand fra venstre */
    width: 450px; /* Bredde på tekstboksen */
    padding: 20px; /* Indre afstand for teksten */
    background-color: transparent; /* Semi-transparent baggrund */
    border-radius: 10px; /* Afrundede hjørner */

    @media (max-width:900px) {
        width: 70%;
        position: absolute;
        top:2%;
        left:15%;
        font-size: 9px;
    }
    
}
.forklaring1 {
    width: 15%;
    height: auto;
    position: absolute;
    left: 12%;
    bottom: 45%;

    @media (max-width:900px) {
        width: 20%;
        position: absolute;
        top:18%;
        left:30%;
        
    }
}
.forklaring2 {
    width: 18%;
    height: auto;
    position: absolute;
    left: 25%;
    bottom: 48%;

    @media (max-width:900px) {
        width: 20%;
        position: absolute;
        top:20%;
        left:55%;
        
    }
}

.tekst_container_2 {
    position: absolute; /* Gør det muligt at placere boksen præcist */
    bottom: 15%; /* Justér afstand fra toppen */
    left: 12%; /* Justér afstand fra venstre */
    width: 350px; /* Bredde på tekstboksen */
    padding: 20px; /* Indre afstand for teksten */
    background-color: transparent; /* Semi-transparent baggrund */
    border-radius: 10px; /* Afrundede hjørner */

    @media (max-width:900px) {
        width: 70%;
        position: absolute;
        top: 23%;
        left:17%;
        font-size: 9px;
    }
}

.tekst_container_3 {
    position: absolute; /* Gør det muligt at placere boksen præcist */
    top: 10%; /* Justér afstand fra toppen */
    right: 15%; /* Justér afstand fra venstre */
    width: 490px; /* Bredde på tekstboksen */
    padding: 20px; /* Indre afstand for teksten */
    background-color: transparent; /* Semi-transparent baggrund */
    border-radius: 10px; /* Afrundede hjørner */

    @media (max-width:900px) {
        width: 70%;
        position: absolute;
        top:40%;
        left:15%;
        font-size: 9px;
    }
}
.forklaring3 {
    width: 20%;
    height: auto;
    position: absolute;
    right: 10%;
    top: 20%;

    @media (max-width:900px) {
        width: 40%;
        position: absolute;
        top:50%;
        left:55%;
        
    }
}
.forklaring4 {
    width: 20%;
    height: auto;
    position: absolute;
    right: 15%;
    top: 30%;

    @media (max-width:900px) {
        width: 20%;
        position: absolute;
        top:52%;
        left:55%;
        
    }
}
.forklaring6 {
    width: 20%;
    height: auto;
    position: absolute;
    right: 35%;
    top: 28%;

    @media (max-width:900px) {
        width: 30%;
        position: absolute;
        top:52%;
        left:20%;
        
    }
}
.tekst_container_4 {
    position: absolute; /* Gør det muligt at placere boksen præcist */
    bottom: 35%;
    right: 15%; /* Justér afstand fra venstre */
    width: 520px; /* Bredde på tekstboksen */
    padding: 20px; /* Indre afstand for teksten */
    background-color: transparent; /* Semi-transparent baggrund */
    border-radius: 10px; /* Afrundede hjørner */

    @media (max-width:900px) {
        width: 45%;
        position: absolute;
        bottom:20%;
        left:15%;
        font-size: 9px;
    }
}
.forklaring7 {
    width: 30%;
    height: auto;
    position: absolute;
    right: 20%;
    bottom: 15%;

    @media (max-width:900px) {
        width: 25%;
        position: absolute;
        bottom:25%;
        right:12%;
        font-size: 9px;
    }
}

.projekt_container {
    padding: 10px;
    border: 1px;
    background-color: rgb(212,223,210);
    text-decoration: none;
    text-align: center; 
    margin: 50px 500px;
    
    @media (max-width:900px) {
        padding: 5px;
        margin: 10px 150px;
    }
}

.projekt_container a {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    color:rgb(106, 76, 76);

    @media (max-width:900px) {
        font-size: 12px;
    }
}

.mappe {
   
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; /* Afstand mellem sider */
}

.baggrund_2 {
    background-image: url(/billeder/folder0.svg); /* Korrekt sti til billedet */
    background-size: cover; /* Sørger for, at billedet tilpasses uden at blive beskåret */
    background-position: center; /* Centrerer billedet både vandret og lodret */
    background-repeat: no-repeat; /* Forhindrer gentagelse af billedet */
    width: 100%; /* Justér bredden */
    height: 130vh; /* Gør containeren høj nok til at fylde hele skærmen */
    position: relative;
    font-size: small;

    @media (max-width:900px) {
        background-image: url(/billeder/folder_021.svg);
        position: center;
        width: 100%;
        height: 130vh;
        top:20%;
        left: 0%;
        
    }
}